#contenedor{
    background: rgb(45, 151, 151);
    width: 300px;
    margin: 0px auto;
    padding: 10px;
}

#botones{
    margin: 0px auto;
  }
  
#boton1, #boton2 {
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(58, 1, 216, 0.679);
  }
  